<mat-accordion>
  <mat-expansion-panel class="nav" *ngFor="let nav of sidenav">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ nav.category }}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item [routerLink]="menu.path" *ngFor="let menu of nav.menuList">
        <span matListItemTitle>{{ menu.name }}</span>
        <span [matTooltip]="menu.description" matListItemLine>
          {{ menu.description }}
        </span>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
